# Today's Agenda
> ### Jupyter Notebook basics
> ### Python basics
> ### Operators in Python
> ### Python Data Structures

# What is Jupyter?
Jupyter is an IDE typically used to develop data analysis and data science solutions. Jupyter, in its early days was called IPython(Hence the extension - ipynb) but it was changed to Jupyter to reflect the inclusion of support for other programming languages. It actually provides support for 40+ languages. The name Jupyter is an amalgamation of the major programming languages it supports - `JUlia PYTon E R`

In [ ]:
### Reason to use Jupyter
There are two major reasons we're using Jupyter over other IDEs
- Jupyter has the provision to include rich media(images, hyperlinks, plots, graphs, audio, text formatting etc..)
- Debugging in Jupyter is much more easier compared to other IDEs/Editors

# Few keyboard shortcuts:
- `Esc` + `M`: Convert a coding cell into markdown
- `Esc` + `Y`: Convert a markdown cell into the code mode
- `Shift` + `Enter`: To execute/run the current cell
- `Esc` + `A`: To add a new cell atop the current cell
- `Esc` + `B`: To add a new cell below the current cell
- `Esc` + `DD`: To delete the current cell

# Headings
Headings are important in documents as they lead the reader in on what is the topic being dealt. Jupyter makes use of Hashes(#) to indicate Headings.

Syntax:
    #s text

# Heading Style 1
## Heading Style 2
### H3
#### H4
##### H5
###### H6

## Text emphasis
We can emphasize a text in jupyter by either putting it in bold or italics

**This statement is in bold**

*This statement is italicisized*

***Italicized and bold***

# Lists
Lists are collections which help us stay organised. There are two kinds of lists:
- Ordered list
- Unordered list

### Unordered lists
Unordered lists are collections of items where the ordering isn't important. We can put either `+`, `-` or `*` before an item to indicate that it belongs to an unordered list

- item 1
- item 2
- item 3
- item 4
- item 5
- item 6

### Ordered lists
Ordered lists are collections of items where the ordering is important. We have to give a number followed by a full-stop to indicate that it's an ordered list

1. item 1
2. item 2
3. item 3
4. item 4
5. item 5

# Hypertext
Hypertext is a text on internet which when clicked upon redirects us to a new web page

Syntax:

    [Text](url *tooltip)

This is [Wikipedia](https://www.wikipedia.org/ "Wiki")

[This](https://www.google.com/ "Google") leads to google

### Image

![Data Science](https://miro.medium.com/max/2560/1*4oRB4tZrc4OLUeoc-p4wKQ.png)

![Dog]()

![dog2]()

# What is python?
- Python is an interpreted, high-level,object oriented, multipurpose programming language. The version of python we'll using is python 3

### Some interesting aspects in python:
- Python is a great language to start programming with because of it's ease of use and its english-like syntax
- Python uses indentations to define scope whereas other programming languges might use flower brackets
- Python uses new lines to indicate the end of line in a program instead of using semi colons

# Why do we use Python?
Python and R are the two most ubiquitous languages used in data secience. Python wins over R in the sense that python can be scaled up with data while that's not possible with R. One more win for python is that , python provides us with many libraries and modules to handle data and work with many kinds of machine learning algorithms. Python can handle auditory, visual, textual kinds of information, to name a few. It also provides extensive support for deep learning

# Literals and Variables

### Literals
A literal is nothing but a data types which conveys information. there are many kinds of literals in python where the four main datatypes are:
- integral values: `int`
- decimal values: `float`
- true or false statements: `bool`
- text data: `str`   
Apart from these, there are many other datas type which we'll we looking at later

### Variable
Variables are nothing but place holders to store the literal values. Variables can be accessed by their names and some rules have to be followed while naming variables

Naming conventions for variables:
- A variable name can only contain alphabets, numbers and under score
- A variable name can only start with an underscore or an alphabet
- A variable name can't be the same as any keyword(keywords are sequences of characters which have some special meaning to them)
- A variable name can't have any spaces between the various parts of the variable. If we want to distinguish them, we can use and underscore or make the variable name CamelCase
> variable_name
> VariableName
- It is suggested that we make our variable names as descriptive as possible
> a = 21
> age = 21

Storing a literal into a variable is called as assigning the variable with a literal and is accomplished using the equality(`=`) symbol

In [7]:
# Variable declaration
age = 34
height = 173

In [2]:
age

34

In [3]:
name = "Maurya"

In [4]:
name

'Maurya'

In [5]:
type(age)

int

In [6]:
type(name)

str

In [30]:
a = 4.5 # float
b = True # boolean
c = False # boolean
d = "Hi" # string
e = [1,2,4,3.5,"hello"] # list
f = (2,3,4,"a",False)# tuple
g = {"hi",2,True}# set
h = {"age":34,"name":"Maurya"}# dictionary

In [9]:
type(a)

float

In [10]:
type(b)

bool

In [11]:
type(h)

dict

In [14]:
# to initialise different variables with different values in the same line
a,b,c= 1,"hello",True

In [17]:
c

True

In [18]:
#whenever we're trying to store literals to variables in the same, the number
# of literals should match with the number of variables
a,b,c = 1,2

ValueError: not enough values to unpack (expected 3, got 2)

In [20]:
# initialising different variables with the same value
a=b=c= 10

In [21]:
a

10

In [22]:
b

10

### In python, variables don't need to be declared(we don't need to say what kind of a variable it should hold) and they can change type and values mid-way

In [23]:
a = 4

In [24]:
type(a)

int

In [25]:
a = 5.6

In [26]:
type(a)

float

In [32]:
print(a)
print(b)
print(c)
print(d)

4.5
True
False
Hi

# First Python Program

In [35]:
# Display two messages
print('Hello World!')
print("Learning Python is fun")

Hello World!
Learning Python is fun

### Some of the rules in python
**Indentation matters in Python.** Note that the statements are entered from the first column in the new line. The Python interpreter will report an error if the program is typed as follows:

	print("Welcome to Python")
print("Python is fun")

**Donâ€™t put any punctuation at the end of a statement**. For example, the Python interpreter will report errors for the following code:

print("Welcome to Python").
print("Python is fun"),

**Python programs are case sensitive.** It would be wrong, for example, to replace print in the program with Print.

# Writing comments in python
Comment is not a python statement and thus is ignored by python interpreter. But, it is plain text that documents what the program is and how it is constructed.

It is always good to write a comment that describes purpose of each statement included in a program.

It increases readability of the program.

In Python, one can write comments as:
1. Single line comment starting with a pound (#) sign
2. Paragraph comment that starts and ends with three consecutive single quotes (''') or three consecutive double quotes (""").

In [ ]:
#This statement prints hello world
print("Hello world!")

### Multi line Comment

In [42]:
"""
Paragraph comment that starts and ends with three
consecutive single quotes (''') or
three consecutive double quotes.
hello
happy
"""
print(a)
print(b)

4.5
True

# Python Keywords
**Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.**

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

All the keywords except True, False and None are in lowercase and they must be written as is.

In [43]:
#Get all keywords in python 3.6

import keyword

print(keyword.kwlist)

print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

In [48]:
# as=5 shouldn't use keywords as variable names
#my name = "Maurya" no spaces in variable names
# @a= 5 shouldn't use special symbols in variable names
#4_no = 3 vaiable name shouldn't start with a number

# Identifiers
**Identifiers are the user-defined names given to various program elements such as variable, function, class...etc.**

**Rules for Writing Identifiers:**

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

4. No special symbol can be used

5. An identifier can be of any length.

**Note**:
* Python is a case-sensitive language. This means, the identifiers amount, AMOUNT, and aMouNT are not the same.
* Always name identifiers that make sense. For example, num is meaningful compared to x
* Multiple words can be separated using an underscore. Ex.,compound_interest
* We can also use camel-case style of writing, i.e., capitalize every first letter of the word except the initial word without any spaces. For example: camelCaseExample

### Note: 2.
Python is dynamically typed language. i.e., a variable can hold different types of literals at different times. This is not possible with static-typed languages like C, C++ and Java.

In [58]:
# Number Swaping
a,b = 10,20

In [56]:
# Method 1
temp = a # temp will be 10
a = b # a will be 20
b = temp # temp is previous a which is 10

In [57]:
a,b

(20, 10)

In [59]:
# Method 2
a,b= b,a

In [60]:
print(a,b)

20 10

"=" is called assignment operator. It doesn't compare lhs and rhs. It simply assigns the value on the right of it to the variable on the left of it

### Note: 3. Type Conversion
You can convert one variable type to another type using type(value)

# Operators and Expressions

Operator is a predefined symbol that performs operation using operands.
e.g., + is an operator that performs addition using two operands.

Expression is collection of operands (literals/variables) and operators that when evaluated gives some result.
e.g., (2+3)-5 is an expression that returns result 0.

### Arithmetics operators

### Comparison operators: relational operators
 .>,<,==,!=,>=,<=